.app-footer {
    color: white;
    background-color: #D98721;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__description {
        display: flex;
        flex-direction: column;
        width: 250px;

        &__title {
            font-family: "Raleway", sans-serif;
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            font-weight: 400;
            font-size: 1.4rem;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }

        &__text {

        }
    }
} 