<nav class="navbar navbar-dark navbar-expand-md bg-orange">
    <div class="container-fluid ms-4 me-4">
        <!-- Marca -->
        <a href="#" class="navbar-brand">
            <img src="herediahomes-blanco.webp" alt="Heredia Homes Logo" height="40" width="40" class="me-2">
            Heredia Homes
        </a>

        <!-- Boton hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
         <div class="collapse navbar-collapse text-center ms-4 mx-auto" id="navbarSupportedContent">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/pisos" class="nav-link">Pisos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link">Acerca de mí</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-link">Contacto</a>
                </li>
            </ul>
         </div>
    </div>
</nav>