.heredia-section {
  opacity: 1;
  transform: none;
  display: flex;
  flex-direction: row;
  padding: 5rem 5rem;
  gap: 2rem;
  justify-content: space-around;
  background-color: #fff9f3;
}

/* Texto principal */
.heredia-text {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* space-y-4 */
}

.heredia-title {
  font-size: 3rem;           /* text-5xl */
  font-weight: bold;
  line-height: 1.2;          /* leading-tight */
  color: #111827;            /* text-gray-900 */
}

 .highlight-gray {
  color: #4b5563; /* text-gray-600 */
}

.heredia-subtitle {
  font-size: 1.5rem; /* text-2xl */
  color: #374151;    /* text-gray-700 */
}

.highlight-orange {
  color: #D98721;
  font-weight: 600;
}

/* Descripción */
.heredia-description {
  font-size: 1.125rem; /* text-lg */
  color: #4b5563;      /* text-gray-600 */
  max-width: 32rem;    /* max-w-lg */
  line-height: 1.6;    /* leading-relaxed */
}

.heredia-buttons {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

.heredia-img {
    border-radius: 2rem;
    max-width: 45vw;
}