<div class="heredia-section">
    <div class="heredia-text">
        <h1 class="heredia-title">No va de <span class="highlight-gray">ladrillos,</span></h1>
        <p class="heredia-subtitle">Va de <span class="highlight-orange">personas.</span></p>
        <p class="heredia-description"> En Heredia Homes creemos que cada propiedad tiene una historia y cada cliente merece un trato personalizado y humano.</p>
        <div class="heredia-buttons">
          <button class="btn btn-primary" routerLink="/contact">Contáctanos</button>
          <button class="btn btn-secondary" routerLink="/pisos">Ver propiedades</button>
        </div>
    </div>
    <div>
        <!-- <img src="piso1.jpg" height="350px" class="heredia-img" > -->
    </div>
</div>

<div class="text-center mt-4 heredia-text">
    <h1>Descubre nuestra <span class="highlight-orange">metodología</span></h1>
</div>

<div class="heredia-section">
    <div class="heredia-text">
        <h1 class="">¿Qué hacemos?</h1>
    </div>
</div>